[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
retry2 = "*"

[dev-packages]
black = "*"
exceptiongroup = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
markdown-it-py = "*"
myst-parser = "*"
pandas = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-vcr = "*"
setuptools-scm = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-napoleon = "*"
tornado = "*"
twine = "*"
types-retry = "*"
typing-extensions = "*"

[requires]
python_version = "3.14"
