[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
importlib-metadata = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"
